<script lang="ts">
	import CodeBox from '$lib/components/CodeBox.svelte';
	import InfoBox from '$lib/components/InfoBox.svelte';
	import Modal from '$lib/components/Modal.svelte';
	import ToggleSwitch from '$lib/components/ToggleSwitch.svelte';
	import TextBasedInput from '$lib/components/input/TextBasedInput.svelte';
	import { nanoid } from 'nanoid';

	let { data } = $props();
	let loading = $state(false);
	let createModalOpen = $state(false);
	let newTokenName = $state('');

	async function createToken() {
		if (loading) return;
		if (!data.project) return;

		loading = true;

		console.log('Creating new token...');

		const { data: newToken, error } = await data.supabase
			.from('Token')
			.insert({
				projectId: data.project.id,
				token: nanoid(32),
				name: newTokenName
			})
			.select('*')
			.single();

		if (error) {
			console.log(error);
			newTokenName = '';
		} else {
			if (data.tokens) {
				data.tokens = [...data.tokens, newToken];
			} else {
				data.tokens = [newToken];
			}
			createModalOpen = false;
		}

		loading = false;
	}
</script>

{#if data.project}
	<h1>{data.project.name}</h1>

	<h2 class="margin-t-xl">Tokens</h2>

	<InfoBox type="info" title="Hint">
		<p>
			Tokens regulate access to your project. Please keep them safe, and never commit them to source
			control.
			<br /><br />
			For information on how to use tokens in your project, please <a href="/docs">see the docs.</a>
		</p>
	</InfoBox>

	{#if data.tokens && data.tokens.length > 0}
		<div id="token-container margin-t-lg">
			{#each data.tokens as token}
				<div class="token padding-md margin-b-lg">
					<h3>{token.name}</h3>
					<div class="token__code">
						<CodeBox title="Token" copyable hideable>
							{token.token}
						</CodeBox>
					</div>
				</div>
			{/each}
		</div>
		<button class="button margin-t-xl" on:click={() => (createModalOpen = true)}>Add Token</button>
	{:else}
		<p>
			This project doesn't have any tokens yet. <button
				class="text-button"
				on:click={() => (createModalOpen = true)}>Create one.</button
			>
		</p>
	{/if}

	<h2 class="margin-t-xl">Settings</h2>

	<TextBasedInput
		editable={false}
		label="Project ID"
		id="project-id"
		bind:value={data.project.projectId}
		copyable
	></TextBasedInput>
    <ToggleSwitch id="public-lobbies" class="margin-t-xl" label="Public Lobbies" bind:checked={data.project.publicRooms}></ToggleSwitch>
{/if}

<Modal bind:open={createModalOpen} on:close={() => (createModalOpen = false)}>
	<h2 class="margin-b-md">Create a new token</h2>
	<InfoBox type="info" title="Hint">
		<p>Make this something memorable, so that you know where you used the token.</p>
	</InfoBox>
	<form on:submit|preventDefault={createToken}>
		<TextBasedInput
			bind:value={newTokenName}
			label="Token Name"
			id={'token-name'}
			type="text"
			class="margin-t-xl"
		></TextBasedInput>
		<button class="button margin-t-xl" type="submit">Create</button>
	</form>
</Modal>

<style lang="scss">
	.text-button {
		outline: none;
		border: none;
		background-color: transparent;
		color: var(--brand-color);
		cursor: pointer;
		font-family: 'Lexend';
		font-weight: 400;
		font-size: 1rem;
	}

	#token-container {
		width: 100%;
	}

	.token {
		width: 100%;
		background-color: white;
		border-radius: 5px;

		&__code {
			width: 70%;
		}
	}
</style>
