:root {
    --brand-color: hsl(3, 100%, 60%);
    --brand-color-light: hsl(3, 100%, 67%);
    --danger-color: hsl(39, 100%, 50%);
    --danger-color-light: hsl(39, 100%, 64%);
    --success-color: hsl(152, 95%, 39%);
    --success-color-light: hsl(152, 91%, 48%);
    --dark-gray: hsl(206, 21%, 15%);
    --mid-gray: hsl(210, 14%, 33%);
    --popover-shadow: 0px 0px 5px 0px hsl(213, 21%, 90%);
    --admin-background-color: hsl(210, 22%, 95%);
}


// font imports

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}


body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lexend";
    font-weight: 500;
    color: var(--dark-gray);
}

form {
    position: relative;
    z-index: 1;
}

p {
    font-weight: 400;
}

.hint {
    color: var(--mid-gray);
}

.button {
    display: block;
    font-family: "Work Sans";
    font-weight: 600;
    background-color: var(--brand-color);
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: max-content;
    position: relative;

    &.flipped {
        background-color: white;
        color: var(--brand-color);
    }

    &::before {
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        top: 0;
        left: 0;
        border-radius: 5px;
        display: inline-block;
        transition: transform 0.3s ease;
        background-color: hsl(351, 90%, 70%);
        z-index: -1;
    }

    &:hover {
        &::before {
            transform: translate(0.5rem, 0.5rem);
        }
    }

    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;

        &::before {
            display: none;

        }
    }

}

a {
    color: var(--brand-color);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: hsl(351, 90%, 70%);
    }
}

.card {
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--popover-shadow);
    box-sizing: border-box;
    border: 3px solid white;

    &--clickable {
        cursor:pointer;

        &:hover {
            border-color: var(--brand-color);
        }
    }
}


.card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

// margin and padding helpers 

.padding {
    &-sm {
        padding: 0.5rem;
    }

    &-md {
        padding: 1rem;
    }

    &-lg {
        padding: 2rem;
    }

    &-xl {
        padding: 3rem;
    }

    &-t {
        &-sm {
            padding-top: 0.5rem;
        }

        &-md {
            padding-top: 1rem;
        }

        &-lg {
            padding-top: 2rem;
        }

        &-xl {
            padding-top: 3rem;
        }
    }

    &-b {
        &-sm {
            padding-bottom: 0.5rem;
        }

        &-md {
            padding-bottom: 1rem;
        }

        &-lg {
            padding-bottom: 2rem;
        }

        &-xl {
            padding-bottom: 3rem;
        }
    }

    &-l {
        &-sm {
            padding-left: 0.5rem;
        }

        &-md {
            padding-left: 1rem;
        }

        &-lg {
            padding-left: 2rem;
        }

        &-xl {
            padding-left: 3rem;
        }
    }

    &-r {
        &-sm {
            padding-right: 0.5rem;
        }

        &-md {
            padding-right: 1rem;
        }

        &-lg {
            padding-right: 2rem;
        }

        &-xl {
            padding-right: 3rem;
        }
    }

    &-v {
        &-sm {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        &-md {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &-lg {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &-xl {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    &-h {
        &-sm {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &-md {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &-lg {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &-xl {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

.margin {
    &-sm {
        margin: 0.5rem;
    }

    &-md {
        margin: 1rem;
    }

    &-lg {
        margin: 2rem;
    }

    &-xl {
        margin: 3rem;
    }

    &-t {
        &-sm {
            margin-top: 0.5rem;
        }

        &-md {
            margin-top: 1rem;
        }

        &-lg {
            margin-top: 2rem;
        }

        &-xl {
            margin-top: 3rem;
        }
    }

    &-b {
        &-sm {
            margin-bottom: 0.5rem;
        }

        &-md {
            margin-bottom: 1rem;
        }

        &-lg {
            margin-bottom: 2rem;
        }

        &-xl {
            margin-bottom: 3rem;
        }
    }

    &-l {
        &-sm {
            margin-left: 0.5rem;
        }

        &-md {
            margin-left: 1rem;
        }

        &-lg {
            margin-left: 2rem;
        }

        &-xl {
            margin-left: 3rem;
        }
    }

    &-r {
        &-sm {
            margin-right: 0.5rem;
        }

        &-md {
            margin-right: 1rem;
        }

        &-lg {
            margin-right: 2rem;
        }

        &-xl {
            margin-right: 3rem;
        }
    }

    &-v {
        &-sm {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        &-md {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        &-lg {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        &-xl {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }

    &-h {
        &-sm {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        &-md {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &-lg {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        &-xl {
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}