<script lang="ts">
	import { faCog, faGrid2Plus, faHome, faLockKeyhole, faPersonToDoor } from "@fortawesome/pro-duotone-svg-icons";
	import Fa from "svelte-fa";

    let { url }: {url: any} = $props();

    let currentlyActive = $state("");


</script>


<div class="sidebar padding-h-md">
    <nav>
        <ul>
            <li>
                <a class="sidebar__link" class:active={url.url.pathname.split("/").pop() === "home"} href="/authenticated/home">
                    <Fa icon={faHome}></Fa>
                    <span class="margin-l-md">Home</span>
                </a>
            </li>
            <li>
                <a class="sidebar__link" class:active={url.url.pathname.split("/").pop() === "projects"} href="/authenticated/projects">
                    <Fa icon={faGrid2Plus}></Fa>
                    <span class="margin-l-md">Projects</span>
                </a>
            </li>
            {#if url.params.projectId}
                <span class="separator"></span>
                <li>
                    <a href="#tokens" class="sidebar__link">
                        <Fa icon={faLockKeyhole}></Fa>
                        <span class="margin-l-md">Tokens</span>
                    </a>
                </li>
                <li>
                    <a href="#tokens" class="sidebar__link">
                        <Fa icon={faCog}></Fa>
                        <span class="margin-l-md">Settings</span>
                    </a>
                </li>
            {/if}
            <span class="separator"></span>
            <li>
                <a class="sidebar__link" href="/authenticated/signout">
                    <Fa icon={faPersonToDoor}></Fa>
                    <span class="margin-l-md">Sign Out</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<style lang="scss">
    .sidebar {
        width: 100%;
        height: 100%;
        background-color: var(--brand-color);
        box-sizing: border-box;
        padding-top: 120px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &__link {
            display: block;
            padding: 1rem;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 1rem;

            &.active {
                background-color: color-mix(in hsl longer hue, var(--brand-color) 85%, white);
            }
        }
    }

    .separator {
        display: block;
        height: 1px;
        width: 80%;
        margin: 0 auto;
        background-color: white;
        opacity: 0.7;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>