<script lang="ts">
	import type { Database } from '$lib/supabase/databaseDefinitions';
	import { faUserCircle } from '@fortawesome/pro-duotone-svg-icons';
	import Fa from 'svelte-fa';

	let { user }: { user: Database['public']['Tables']['UserProfile']['Row'] } = $props();
</script>

<header class="header padding-v-lg">
	<div class="header__content padding-h-md">
		<a href="/" class="header__logo"> </a>
		<nav class="header__nav">
			{#if user}
				<a href="/auth/signup" class="header__nav-link">
					<Fa icon={faUserCircle} />
					{user.name.split(' ')[0].trim()}
				</a>
			{/if}
		</nav>
	</div>
</header>

<style lang="scss">
	.header {
		width: 100%;
		position: sticky;
		top: 0;
		left: 0;
		background-color: white;
		border-bottom: 3px solid var(--brand-color);

		&__content {
			max-width: 1920px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
		}
	}
</style>
