<script lang="ts">
	import { icon } from '@fortawesome/fontawesome-svg-core';
import { faCopy, faEye, faEyeSlash } from '@fortawesome/pro-duotone-svg-icons';
	import hljs from 'highlight.js';
	import 'highlight.js/styles/atom-one-dark.css';
	import Fa from 'svelte-fa';

	let { title, copyable = false, hideable = false } = $props();

	let codeElement: HTMLElement | undefined = $state();
	let hidden = $state(true);

	$effect(() => {
		if (codeElement) {
			hljs.highlightBlock(codeElement);
		}
	});
</script>

<div class="code-box">
	<div class="code-box__header">
		{title}
		<div class="code-box__actions">
			{#if copyable}
				<button
					class="text-button"
					on:click={() => navigator.clipboard.writeText(codeElement?.innerText)}>
					<Fa icon={faCopy}></Fa>
					</button
				>
			{/if}
			{#if hideable}
				<button class="text-button" on:click={() => (hidden = !hidden)}>
					{#if hidden}
						<Fa icon={faEye}></Fa>
					{:else}
						<Fa icon={faEyeSlash}></Fa>
					{/if}
				</button>
			{/if}
		</div>
	</div>
	<pre style="{hidden ? "-webkit-text-security: disc;" : ""}"><code bind:this={codeElement}><slot /></code></pre>
</div>

<style lang="scss">
	pre {
		border-radius: 0.5rem;
		overflow-x: auto;
	}

	code {
		font-size: 1rem;
		font-family: 'Lexend';
		display: inline !important;
		background-color: var(--dark-gray) !important;
		padding: 1rem !important;
	}

	.code-box {
		font-family: 'Work Sans';
		font-weight: 400;
		background-color: var(--dark-gray);
		box-sizing: border-box;
		border-radius: 5px;
		position: relative;
		overflow: hidden;

		&__header {
			color: white;
			width: 100%;
			text-align: left;
			padding: 0.5rem;
			padding-left: 1rem;
			background-color: hsl(206, 21%, 10%);
			font-weight: 600;
			color: var(--brand-color);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			box-sizing: border-box;
		}

		&__actions {
			margin-right: 1rem;
			
			button {
				outline: none;
				border: none;
				background-color: transparent;
				color: white;
				cursor: pointer;
				font-size: 1rem;
				font-family: 'Lexend';
				font-weight: 400;
				transition: all 0.2s;

				&:hover {
					color: var(--brand-color);
				}
			}
		}
	}
</style>
