<script lang="ts">
	import {
		faCircleInfo,
		faDiamondExclamation,
		faTriangleExclamation
	} from '@fortawesome/pro-duotone-svg-icons';
	import Fa from 'svelte-fa';

	let { type, title, ...rest }: { type: 'info' | 'warning' | 'danger'; title: string } = $props();
</script>

<div class="info-box {type} {rest.class}">
	<div class="info-box__header">
		<h4>
			{#if type === 'info'}
				<Fa icon={faCircleInfo} class="margin-r-sm"></Fa>
			{:else if type === 'danger'}
				<Fa icon={faDiamondExclamation} class="margin-r-sm"></Fa>
			{:else if type === 'warning'}
				<Fa icon={faTriangleExclamation}></Fa>
			{/if}

			{title}
		</h4>
	</div>
	<div class="info-box__content">
		<slot />
	</div>
</div>

<style lang="scss">
	.info-box {
		border-radius: 5px;
		margin-bottom: 1rem;
		overflow: hidden;
		width: max-content;

		&.info {
			background-color: var(--brand-color-light);
			color: white;

			.info-box__header {
				background-color: var(--brand-color);
				color: white;
			}
		}

		&.warning {
			background-color: var(--warning-color);
		}

		&.danger {
			background-color: var(--danger-color);
		}

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 0.5rem;
			padding: 1rem;

			h4 {
				margin: 0;
			}
		}

		&__content {
			padding: 1rem;
			p {
				margin: 0;
			}
		}
	}
</style>
