<script lang="ts">
	import { faX, faXmark } from "@fortawesome/pro-duotone-svg-icons";
	import { createEventDispatcher } from "svelte";
	import Fa from "svelte-fa";


    let { open } = $props();

    const dispatch = createEventDispatcher();

</script>


{#if open}
    <div class="modal" on:click|self={() => dispatch("close")}>
        <div class="modal__body">
            <button on:click={() => dispatch("close")}>
                <Fa icon={faXmark} scale={1.5}></Fa>
            </button>
            <slot></slot>
        </div>
    </div>
{/if}



<style lang="scss">
    .modal {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__body {
            padding: 2rem;
            border-radius: 5px;
            background-color: white;
            display: flex;
            flex-direction:column;
            justify-content: flex-end;
            position: relative;
            z-index: 1;

            button {
                outline: none;
                border: none;
                background: none;
                transition: all 0.2s;
                cursor:pointer;

                &:hover {
                    color: var(--brand-color);
                }
            }
        }
    }
</style>