<script lang="ts"></script>

<header>
	<nav>
		<ul>
			<li><a href="/docs">Documentation</a></li>
			<li><a href="/auth/signin">Sign In</a></li>
			<li><a href="/auth/signup">Sign Up</a></li>
		</ul>
	</nav>
</header>

<style lang="scss">
	header {
        width: 100%;
		padding: 2rem 5rem;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;

		ul {
			list-style-type: none;
			display: flex;
			flex-direction: row;

			li {
				margin-right: 1rem;

				a {
					color: white;
					text-decoration: none;

                    &:hover {
                        color: hsl(351, 90%, 80%);
                    }
				}
			}
		}
	}
</style>
