<script lang="ts">
	let { label, checked, id, ...rest }: { label: string; checked: boolean, id: string } = $props();
</script>

<label for={id} class="{rest.class}">
	<input type="checkbox" {id} bind:checked />
	<div class="toggle-pill"></div>
	<span>{label}</span>
</label>

<style lang="scss">
	input[type='checkbox'] {
		height: 0;
		width: 0;
		visibility: hidden;
	}

	label {
		cursor: pointer;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;

		span {
			transition: color 0.2s ease;
		}

		&:hover {
			span {
				color: var(--brand-color-light);
			}
		}
	}

	.toggle-pill {
		cursor: pointer;

		width: 3.5rem;
		height: 2rem;
		background: var(--brand-color-light);
		display: block;
		border-radius: 100px;
		position: relative;
	}

	.toggle-pill:after {
		content: '';
		position: absolute;
		top: 0.3rem;
		left: 0.3rem;
		width: 1.4rem;
		height: 1.4rem;
		background: #fff;
		border-radius: 90px;
		transition: 0.3s;
	}

	input:checked + .toggle-pill {
		background: var(--success-color);
	}

	input:checked + .toggle-pill:after {
		left: calc(100% - 0.3rem);
		transform: translateX(-100%);
	}

	.toggle-pill:active:after {
		width: 1.2rem;
	}
</style>
