<script lang="ts">
	import { faPlus } from '@fortawesome/pro-duotone-svg-icons';
	import Fa from 'svelte-fa';

	let { data } = $props();
</script>

<h1>Welcome, {data.userProfile?.name.split(' ')[0].trim()}</h1>

<h2 class="margin-t-xl">Projects</h2>

{#if data.projects && data.projects.length > 0}
<div class="card-row">
    		{#each data.projects as project}
			<div class="card">
				<h3>{project.name}</h3>
				<p>{project.description}</p>
			</div>
		{/each}
</div>
{:else}
    <p>Looks like you don't have any projects yet. <a href="/authenticated/projects">Get started.</a></p>
{/if}

<style lang="scss"></style>
