<script lang="ts">
	import { page } from '$app/stores';
	import AdminHeader from '$lib/components/AdminHeader.svelte';
	import AdminSidebar from '$lib/components/AdminSidebar.svelte';

	let { data } = $props();
	console.log(data);
</script>

<div class="layout">
	<div class="layout__sidebar">
		<AdminSidebar bind:url={$page}></AdminSidebar>
	</div>
	<div class="layout__body">
		<div class="layout__header">
			<AdminHeader user={data.userProfile}></AdminHeader>
		</div>
		<div class="layout__content padding-xl">
			<slot />
		</div>
	</div>
</div>

<style lang="scss">
	.layout {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
        position: relative;

        &__body {
            flex: 1 1;
            height: 100%;
        }

		&__header {
			width: 100%;
		}

		&__sidebar {
			height: 100%;
			width: 15%;
			max-width: 300px;
            top: 0;
            position: sticky;
		}

		&__content {
			position: relative;
			height: 100%;
			background-color: var(--admin-background-color);
			z-index: 1;
		}
	}
</style>
