<script lang="ts">
	import { goto } from '$app/navigation';
	import TextBasedInput from '$lib/components/input/TextBasedInput.svelte';
	import { userSignupEmailStore } from '$lib/components/store/localStorageStores';

	let { data } = $props();

	let userEmail = '';
	let userPassword = '';
	let userConfirmPassword = '';
	let loading = false;

	async function signUp(event: SubmitEvent) {
		event.preventDefault();

		if (loading) return;

		console.log('Signing up...');
		loading = true;

		const { data: res, error } = await data.supabase.auth.signUp({
			email: userEmail,
			password: userPassword
		});

		if (error) {
			console.log(error);
		} else {
			userSignupEmailStore.set(userEmail);
			goto('/auth/otp');
			console.log(data);
		}

		loading = false;
	}

	let disabled = $derived(
		loading ||
			userEmail === '' ||
			userPassword === '' ||
			userConfirmPassword === '' ||
			userPassword !== userConfirmPassword
	);
</script>

<section id="signup">
	<div id="signup-content">
		<div id="signup-prompt">
			<h1>Welcome</h1>
			<p>
				We can't wait to see what you create. We'll just ask for some information to get to know
				you. <br /> If you already have an account, just click below.
			</p>
			<a href="/auth/signin" class="button flipped margin-t-lg">Sign Up</a>
		</div>
		<div id="signup-interact">
			<h1>Sign Up</h1>
			<form action="" on:submit={signUp}>
				<TextBasedInput label="Email" type="email" class="margin-t-xl" bind:value={userEmail} />
				<TextBasedInput
					label="Password"
					type="password"
					id="password"
					class="margin-t-lg"
					bind:value={userPassword}
				/>
				<TextBasedInput
					label="Confirm Password"
					type="password"
					id="confirm-password"
					class="margin-t-lg"
					bind:value={userConfirmPassword}
				/>
				<button class="button margin-t-xl" type="submit">Sign Up</button>
			</form>
		</div>
	</div>
</section>

<style lang="scss">
	#signup {
		height: 100%;
		width: 100%;
		background-color: var(--brand-color);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#signup-content {
		max-width: 1920px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	#signup-prompt {
		color: white;
		z-index: 1;
		position: relative;

		h1 {
			font-size: 3rem;
			margin-bottom: 1rem;
		}
	}

	#signup-interact {
		padding: 2rem;
		background-color: white;
		border-radius: 5px;
		width: 450px;
		box-shadow: var(--popover-shadow);
	}

	form {
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
</style>
