<script lang="ts">
	import { goto } from "$app/navigation";
	import VerificationCodeField from "$lib/components/input/VerificationCodeField.svelte";
	import { userSignupEmailStore } from "$lib/components/store/localStorageStores";

	let { data } = $props();

	let codeInputs: HTMLInputElement[] = [];
    let inputs: number[] = [];
    let loading = false;


    function pasteCode(e: CustomEvent) {
        if(e.detail) {
            // clear all the inputs 
            inputs = []
            inputs = e.detail.split('').map(Number);
        }
    }

    async function verifyCode() {
        if(loading) return;

        loading = true;

        const code = inputs.join('');

        if(code.trim().length !== 6) {
            console.log('Invalid code');
            loading = false;
            return;
        }

        console.log('Verifying code...');

        const { data: res, error } = await data.supabase.auth.verifyOtp({
            email: $userSignupEmailStore,
            token: code,
            type: 'email'
        });

        if(error) {
            console.log(error);
            loading = false;
            return;
        }

        console.log(res);

        // now that the user is signed in , redirect to the user info page
        loading = false;
        goto("/authenticated/userinfo");
    }
</script>

<section id="signup">
	<div id="signup-content">
		<div id="signup-prompt">
			<h1>Confirm Email</h1>
			<p>We've sent a code to your user email. Please enter it below to confirm your account.</p>
			<div id="verification-code" class="margin-t-xl">
                {#each Array(6) as _, i}
                    <VerificationCodeField on:paste={pasteCode} on:submit={verifyCode} inputs={codeInputs} index={i} bind:value={inputs[i]}/>
                {/each}
			</div>
            <button class="button flipped margin-t-xl" on:click={verifyCode}>Submit</button>
		</div>
	</div>
</section>

<style lang="scss">
	#signup {
		height: 100%;
		width: 100%;
		background-color: var(--brand-color);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#signup-content {
		max-width: 1920px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	#signup-prompt {
		color: white;
		z-index: 1;
		position: relative;

		h1 {
			font-size: 3rem;
			margin-bottom: 1rem;
		}
	}

	form {
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
</style>
