<script lang="ts">
	import Modal from '$lib/components/Modal.svelte';
	import TextBasedInput from '$lib/components/input/TextBasedInput.svelte';
	import { faPlus } from '@fortawesome/pro-duotone-svg-icons';
	import { nanoid } from 'nanoid';
	import Fa from 'svelte-fa';

	let { data } = $props();
	let createModalOpen = $state(false);

    let newProjectName = $state("");
    let newProjectDescription = $state("");
    let loading = false;

    function generateProjectId() {
        return nanoid(8);
    }


    async function createNewProject() {
        if(loading || newProjectName === "") return;

        loading = true;

        console.log("Creating new project...");

        const { data: newProject, error } = await data.supabase.from("Project").insert({
            name: newProjectName,
            description: newProjectDescription,
            userProfileId: data.session?.user.id,
            projectId: generateProjectId()
        }).select("*").single();

        if(error) {
            console.log(error);
        } else {
            newProjectName = "";
            newProjectDescription = "";
            createModalOpen = false;

            
            if(data.projects) {
                data.projects = [...data.projects, newProject];
            } else {
                data.projects = [newProject];
            }
        }

        loading = false;
    }
</script>

<h1>Projects</h1>
<div class="card-row">
	{#if data.projects}
		{#each data.projects as project}
			<a class="card card--clickable" href="/authenticated/projects/{project.id}">
				<h3>{project.name}</h3>
				<p>{project.description}</p>
            </a>
		{/each}
	{/if}
	<div class="card card--clickable" id="create-project" on:click={() => (createModalOpen = true)}>
		<h3>Create a new project</h3>
		<Fa icon={faPlus}></Fa>
	</div>
</div>

<Modal bind:open={createModalOpen} on:close={() => (createModalOpen = false)}>
	<h2>Create Project</h2>
    <form action="" on:submit|preventDefault={createNewProject}>
        <TextBasedInput label="Project Name" type="text" bind:value={newProjectName}></TextBasedInput>
        <TextBasedInput class="margin-t-lg" label="Project Description" type="text" bind:value={newProjectDescription}></TextBasedInput>
        <button type="submit" class="button margin-t-lg">Create Project</button>
    </form>
</Modal>

<style lang="scss">
	#create-project {
		background-color: transparent;
		border: 2px dashed var(--mid-gray);
		color: var(--mid-gray);
        transition: all 0.2s;

        &:hover {
            color: var(--brand-color);
            border-color: var(--brand-color);
        }
	}
</style>
