<script lang="ts">
	let {
		options,
		name,
		id,
		value,
        label,
		...rest
	}: { options: { value: string; label: string }[]; name: string; id: string; value: string, label: string } =
		$props();
</script>

<div class="select {rest.class}">
	<select {name} {id} bind:value>
		{#each options as option}
			<option value={option.value}>{option.label}</option>
		{/each}
	</select>
    <label for={name}>{label}</label>
</div>

<style lang="scss">
	.select {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;

		label, select {
			transition: all 0.2s;
		}

		select {
			margin-top: 1rem;
			padding: 1rem 1.5rem;
			font-family: "Lexend";
			font-weight: 500;
			background-color: transparent;
			border: 3px solid hsl(210, 14%, 33%);
			border-radius: 5px;

			&:focus {
				border-color: var(--brand-color);

				+ label {
					color: var(--brand-color);
				}
			}
		}
	}
</style>
