<script lang="ts">
	import { faCopy } from "@fortawesome/pro-duotone-svg-icons";
	import Fa from "svelte-fa";

	let {
		id,
		label,
		type = 'text',
		value,
		editable = true,
		copyable = false,
		...rest
	}: {
		id?: string;
		label: string;
		type?: string;
		value: string;
		editable?: boolean;
		copyable?: boolean;
	} = $props();

	id = id || Math.random().toString(36).substring(7);
</script>

<div class="tbi {rest.class}" class:copyable>
	<input {type} {id} bind:value disabled={!editable} />
	<label for={id}>{label}</label>
	<button class="tbi__copy"><Fa icon={faCopy}></Fa></button>
</div>

<style lang="scss">
	.tbi {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		position: relative;

		label {
			transition: all 0.2s;
		}

		input {
			margin-top: 1rem;
			border: 3px solid hsl(210, 14%, 33%);
			padding: 1rem 1.5rem;
			outline: none;
			border-radius: 5px;
			font-family: inherit;
			font-weight: 500;
			transition: border-color 0.2s;
		}

		input:focus {
			border-color: var(--brand-color);

			+ label {
				color: var(--brand-color);
			}
		}

		&__copy {
			position: absolute;
			right: 1rem;
			top: calc(50% + 0.5rem);
			cursor: pointer;
			transition: all 0.2s;
			background: none;
			outline: none;
			border: none;
			font-size: 1rem;
			display: none;

			&:hover {
				color: var(--brand-color);
			}
		}

		&.copyable {
			.tbi__copy {
				display: block;
			}
		}
	}
</style>
