<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	let { value, inputs, index }: { value: number; inputs: any[]; index: number } = $props();

	const dispatch = createEventDispatcher();

	function checkForCode(e: ClipboardEvent) {
		e.preventDefault();
		if (e.clipboardData && e.clipboardData.getData('text/plain').trim().length === 6) {
			dispatch('paste', e.clipboardData?.getData('text/plain').trim());
		}
	}

	function onType(e: KeyboardEvent) {
		if (e.key === 'Backspace') {
			if (index > 0) {
				inputs[index - 1].focus();
			} else {
				inputs[index].blur();
			}
		} else {
			if (e.key === 'Enter') {
				inputs[index].blur();
				dispatch('submit');
			} else {
				if (index + 1 < inputs.length) {
					inputs[index + 1]?.focus();
				}
			}
		}
	}
</script>

<input type="text" on:keyup={onType} bind:this={inputs[index]} bind:value on:paste={checkForCode} />

<style lang="scss">
	input {
		width: 3rem;
		height: 3rem;
		font-size: 1.5rem;
		text-align: center;
		border-radius: 5px;
		margin-right: 1rem;
		border: none;
		outline: none;
		font-family: 'Lexend';
		font-weight: 500;
	}
</style>
