<script>
    import PromoHeader from "$lib/components/PromoHeader.svelte";
import "$lib/styles/main.scss";
</script>



<div class="layout">
    <div class="layout__header">
        <PromoHeader></PromoHeader>
    </div>
    <div class="layout__content">
        <slot></slot>
    </div>
</div>

<style lang="scss">
    .layout {
        height: 100%;
        width: 100%;

        &__content {
            width: 100%;
            height: 100%;
        }

        &__header {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
</style>