<script lang="ts">
</script>

<section id="hero">
	<div id="hero-title">
		<h1>HighNoon</h1>
		<p>High-performance multiplayer networking for web-based projects</p>

		<div id="hero-content">
			<div class="code-box">npm install high-noon</div>
			<a href="/docs" class="button flipped">Documentation</a>
		</div>
	</div>
</section>

<style lang="scss">
	#hero {
		height: 100%;
		width: 100%;
		background-color: var(--brand-color);
	}

	#hero-title {
		position: absolute;
		right: 15%;
		top: 50%;
		transform: translateY(-50%);
		color: white;

		h1 {
			font-size: 8rem;
			text-shadow:
				5px 5px 0px #ffb650,
				10px 10px 0px #ffd662,
				15px 15px 0px #ff80bf;
		}

		p {
			font-size: 1.25rem;
			padding-left: 1rem;
		}

		a {
			margin-top: 2rem;
		}
	}

    #hero-content {
        position: relative;
        z-index: 1;
        margin-top: 2rem;
        padding-left: 1rem;
    }
</style>
