<script lang="ts">
	import { goto } from '$app/navigation';
	import TextBasedInput from '$lib/components/input/TextBasedInput.svelte';

	let { data } = $props();

	let userEmail = $state("");
	let userPassword = $state("");
    let loading = $state(false);

	async function signIn(event: SubmitEvent) {
		event.preventDefault();

        if(loading) return;

		console.log('Signing in...');
        loading = true;

        const { data: res, error } = await data.supabase.auth.signInWithPassword({
            email: userEmail,
            password: userPassword
        });

        if(error) {
            console.log(error);
        } else {
            console.log(res);
			goto("/authenticated/home")
        }

        loading = false;
	}

	let signInDisabled = $derived(userEmail === "" || userPassword == "");
</script>

<section id="signin">
	<div id="signin-content">
		<div id="signin-prompt">
			<h1>Welcome Back!</h1>
			<p>
				Sign in to your account to continue, <br /> or click below if you don't have an account yet.
			</p>
			<a href="/auth/signup" class="button flipped margin-t-lg">Sign Up</a>
		</div>
		<div id="signin-interact">
			<h1>Sign In</h1>
			<form action="" on:submit={signIn}>
				<TextBasedInput label="Email" type="email" class="margin-t-xl" bind:value={userEmail} />
				<TextBasedInput
					label="Password"
					type="password"
					class="margin-t-lg"
					bind:value={userPassword}
				/>
                <button class="button margin-t-xl" type="submit" disabled={signInDisabled}>Sign In</button>
			</form>
		</div>
	</div>
</section>

<style lang="scss">
	#signin {
		height: 100%;
		width: 100%;
		background-color: var(--brand-color);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	}

	#signin-content {
		max-width: 1920px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	#signin-prompt {
		color: white;
        z-index: 1;
        position: relative;

		h1 {
			font-size: 3rem;
			margin-bottom: 1rem;
		}
	}

	#signin-interact {
		padding: 2rem;
		background-color: white;
		border-radius: 5px;
		width: 450px;
	}

    form {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
</style>
