<script lang="ts">
	import { goto } from '$app/navigation';
	import Select from '$lib/components/input/Select.svelte';
import TextBasedInput from '$lib/components/input/TextBasedInput.svelte';

	let { data } = $props();

	let userName = '';
	let useCase: any;
	let loading = false;

	let useCases: {value: string, label: string}[] = [
		{
			value: 'student',
			label: 'Euducation (Student)'
		},
		{
			value: 'teacher',
			label: 'Euducation (Teacher)'
		},
		{
			value: 'business',
			label: 'Business'
		},
		{
			value: 'personal',
			label: 'Personal Use'
		},
		{
			value: 'other',
			label: 'Other'
		}
	];

	async function createUserProfile() {
		if (loading || userName.length === 0 || useCase === '') return;

		loading = true;

		const { data: res, error } = await data.supabase.from('UserProfile').insert({
			id: (await data.supabase.auth.getUser()).data.user?.id,
			name: userName,
			useCase: useCase
		});

		if(error) {
			console.log(error)
		} else {
			goto("/authenticated/home");
		}

		loading = false;
	}

	let disabled = $derived(loading || userName.length === 0 || useCase === '');
</script>

<section id="signin">
	<div id="signin-content">
		<div id="signin-prompt">
			<h1>Just One More Step...</h1>
			<p>We'd just like to know a little bit about you.</p>
		</div>
		<div id="signin-interact">
			<h1>Basic Details</h1>
			<form action="" on:submit={createUserProfile}>
				<TextBasedInput label="Name" type="text" class="margin-t-xl" bind:value={userName} />
				<Select class="margin-t-lg" options={useCases} label="Use Case" name="use-case" id="use-case" bind:value={useCase}></Select>
				<button class="button margin-t-xl" on:click={createUserProfile} {disabled}
					>Create Account</button
				>
			</form>
		</div>
	</div>
</section>

<style lang="scss">
	#signin {
		height: 100%;
		width: 100%;
		background-color: var(--brand-color);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	}

	#signin-content {
		max-width: 1920px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	#signin-prompt {
		color: white;
		z-index: 1;
		position: relative;

		h1 {
			font-size: 3rem;
			margin-bottom: 1rem;
		}
	}

	#signin-interact {
		padding: 2rem;
		background-color: white;
		border-radius: 5px;
		width: 450px;
	}

	form {
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
</style>
